/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

header#primary-header {
  line-height: 2em;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 5; }
  header#primary-header #logo-icon {
    float: left;
    width: 32px;
    height: 32px;
    margin: 0.5rem;
    background-image: url(quiry-icon.png);
    text-indent: -9999em; }
  header#primary-header .menu-toggle {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    right: 0.8rem;
    height: 3px;
    width: 24px;
    background-color: rgba(255, 255, 255, 0.8);
    display: none; }
    header#primary-header .menu-toggle:before, header#primary-header .menu-toggle:after {
      content: "";
      height: 3px;
      width: 24px;
      position: absolute;
      background-color: rgba(255, 255, 255, 0.8);
      top: -8px; }
    header#primary-header .menu-toggle:after {
      top: 8px; }
  header#primary-header nav {
    float: right;
    margin-top: 7px; }
    header#primary-header nav a {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 0.2rem;
      padding: 0 1rem;
      margin-right: 5px;
      text-decoration: none;
      display: inline-block;
      color: #fff; }
      header#primary-header nav a:hover {
        background-color: rgba(255, 255, 255, 0.3); }
      header#primary-header nav a.selected {
        background-color: rgba(255, 255, 255, 0.8);
        color: #000;
        font-weight: 600; }

.container {
  margin: 3.5rem 0.5rem 0.5rem 0.5rem; }

.button {
  display: block;
  padding: 0.8rem 0;
  margin: 0.5rem 0;
  text-align: center;
  font-weight: 600;
  border: none; }

.bar {
  width: 100%;
  position: relative;
  margin: 0.5rem 0;
  cursor: pointer; }
  .bar:before, .bar .result-bar {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    left: 0;
    border-radius: 0.2rem; }
  .bar
label {
    display: block;
    padding: 0.8rem 0.8rem 0.8rem 2.3rem;
    cursor: pointer; }
  .bar.selected {
    color: #fff;
    font-weight: 600; }
  .bar.results {
    color: #fff;
    font-weight: 600;
    cursor: auto; }
    .bar.results label {
      padding-left: 0.8em;
      cursor: auto; }
  .bar .result-bar {
    width: 50%;
    transition: .5s; }
  .bar .result-info {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.9rem;
    font-size: 0.85rem; }

.inline .bar {
  width: auto;
  margin: 0 0.25rem 0.5rem 0;
  display: inline-block; }

.radio input, .checkbox input {
  position: absolute;
  top: 0;
  left: 0.75rem;
  height: 100%;
  display: none; }

.radio label:before, .radio label:after, .checkbox label:before, .checkbox label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin: 17px 12px;
  width: 14px;
  height: 14px;
  border-radius: 0.2rem; }

.radio label:after, .checkbox label:after {
  margin: 19px 14px;
  width: 10px;
  height: 10px;
  border-radius: 0.1rem; }

.radio.results label:before, .radio.results label:after, .checkbox.results label:before, .checkbox.results label:after {
  display: none; }

.radio label:before, .radio label:after {
  margin: 16px 11px;
  width: 15px;
  height: 15px;
  border-radius: 50%; }

.radio label:after {
  margin: 18px 13px;
  width: 11px;
  height: 11px; }

.text-input {
  padding: 0.5rem;
  margin: 0.5rem 0; }
  .text-input label {
    display: none; }
  .text-input input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 2rem;
    padding: 0.3rem;
    border: none;
    margin: 0; }

.text-area {
  position: relative;
  padding: 0.5rem;
  margin: 0.5rem 0; }
  .text-area textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 4.75rem;
    padding: 0.3rem;
    border: none;
    margin: 0; }
  .text-area.choice {
    padding: 0.5rem 3rem 0.5rem 0.5rem; }
    .text-area.choice label {
      display: none; }
    .text-area.choice textarea {
      height: 2rem; }

.add-fields.choice {
  padding: 0.5rem;
  line-height: 2rem;
  margin: 0.5rem 0;
  width: auto; }

.add-toggle {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  cursor: pointer; }
  .add-toggle:before, .add-toggle:after {
    width: 24px;
    height: 4px;
    background-color: #666;
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    transition: 0.5s; }
  .add-toggle:after {
    width: 4px;
    height: 24px;
    top: 0;
    left: 10px; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

ol {
  counter-reset: li; }
  ol
li.bar {
    cursor: ns-resize; }
    ol
li.bar
label {
      padding: 0.8rem 0.8rem 0.8rem 2.3rem;
      cursor: ns-resize; }
      ol
li.bar
label:before {
        content: counter(li);
        counter-increment: li;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 0.85rem;
        width: 20px;
        line-height: 21px;
        margin: 13px 9px;
        border-radius: 0.2rem;
        font-weight: 600; }
    ol
li.bar
.drag-grip {
      position: absolute;
      top: 50%;
      margin-top: -1px;
      right: 16px;
      height: 1px;
      width: 16px; }
      ol
li.bar
.drag-grip:before, ol
li.bar
.drag-grip:after {
        content: "";
        height: 1px;
        width: 22px;
        position: absolute;
        top: -6px;
        right: -3px; }
      ol
li.bar
.drag-grip:after {
        top: 6px; }
    ol
li.bar.sortable-ghost {
      opacity: 0.5;
      height: 3rem; }

.question {
  margin: 0 0 2rem 0; }
  .question h2 {
    font-size: 1.5rem;
    margin: 0.25rem 0; }
  .question .info {
    font-size: 0.75rem; }

/*@include colorset(170, 70, 50, 240, 60, 50, 8);*/
/*$s: $s+"%";
    $l: $l+"%";*/
.color1.text-input, .color1.text-area {
  background-color: #e6db99; }
  .color1.text-input.choice textarea, .color1.text-area.choice textarea {
    background-color: white; }

.color1:before, .color1 .result-bar {
  background-color: #f0eac2; }

.color1:hover:before {
  background-color: #f0e6a8; }

.color1.selected:before {
  background-color: #a49637; }

.color1.selected label:after {
  background-color: #98871b; }

.color1.selected
.drag-grip {
  background-color: #ad9a1f;
  border-bottom: 1px solid #f7f3d4; }
  .color1.selected
.drag-grip:before, .color1.selected
.drag-grip:after {
    background-color: #ad9a1f;
    border-bottom: 1px solid #f7f3d4; }

.color1.results:before {
  background-color: #dcc638; }

.color1 .result-bar {
  background-color: #ad9a1f; }

.color1 label:before, .color1 label:after {
  background-color: #fff;
  color: #c3ae22; }

.color1 label:hover:after {
  background-color: #e0cd52; }

.color1
.drag-grip {
  border-bottom: 1px solid #fbf9e9;
  background-color: #c3ae22; }
  .color1
.drag-grip:before, .color1
.drag-grip:after {
    border-bottom: 1px solid #fbf9e9;
    background-color: #c3ae22; }

.color1 .add-toggle:before, .color1 .add-toggle:after {
  background-color: #98871b; }

/*$s: $s+"%";
    $l: $l+"%";*/
.color2.text-input, .color2.text-area {
  background-color: #99e6c5; }
  .color2.text-input.choice textarea, .color2.text-area.choice textarea {
    background-color: white; }

.color2:before, .color2 .result-bar {
  background-color: #c2f0dc; }

.color2:hover:before {
  background-color: #a8f0d1; }

.color2.selected:before {
  background-color: #37a475; }

.color2.selected label:after {
  background-color: #1b9862; }

.color2.selected
.drag-grip {
  background-color: #1fad70;
  border-bottom: 1px solid #d4f7e8; }
  .color2.selected
.drag-grip:before, .color2.selected
.drag-grip:after {
    background-color: #1fad70;
    border-bottom: 1px solid #d4f7e8; }

.color2.results:before {
  background-color: #38dc95; }

.color2 .result-bar {
  background-color: #1fad70; }

.color2 label:before, .color2 label:after {
  background-color: #fff;
  color: #22c37e; }

.color2 label:hover:after {
  background-color: #52e0a3; }

.color2
.drag-grip {
  border-bottom: 1px solid #e9fbf3;
  background-color: #22c37e; }
  .color2
.drag-grip:before, .color2
.drag-grip:after {
    border-bottom: 1px solid #e9fbf3;
    background-color: #22c37e; }

.color2 .add-toggle:before, .color2 .add-toggle:after {
  background-color: #1b9862; }

/*$s: $s+"%";
    $l: $l+"%";*/
.color3.text-input, .color3.text-area {
  background-color: #d1e699; }
  .color3.text-input.choice textarea, .color3.text-area.choice textarea {
    background-color: white; }

.color3:before, .color3 .result-bar {
  background-color: #e3f0c2; }

.color3:hover:before {
  background-color: #dcf0a8; }

.color3.selected:before {
  background-color: #87a437; }

.color3.selected label:after {
  background-color: #76981b; }

.color3.selected
.drag-grip {
  background-color: #87ad1f;
  border-bottom: 1px solid #eef7d4; }
  .color3.selected
.drag-grip:before, .color3.selected
.drag-grip:after {
    background-color: #87ad1f;
    border-bottom: 1px solid #eef7d4; }

.color3.results:before {
  background-color: #afdc38; }

.color3 .result-bar {
  background-color: #87ad1f; }

.color3 label:before, .color3 label:after {
  background-color: #fff;
  color: #97c322; }

.color3 label:hover:after {
  background-color: #bae052; }

.color3
.drag-grip {
  border-bottom: 1px solid #f6fbe9;
  background-color: #97c322; }
  .color3
.drag-grip:before, .color3
.drag-grip:after {
    border-bottom: 1px solid #f6fbe9;
    background-color: #97c322; }

.color3 .add-toggle:before, .color3 .add-toggle:after {
  background-color: #76981b; }

/*$s: $s+"%";
    $l: $l+"%";*/
.color4.text-input, .color4.text-area {
  background-color: #99e6e4; }
  .color4.text-input.choice textarea, .color4.text-area.choice textarea {
    background-color: white; }

.color4:before, .color4 .result-bar {
  background-color: #c2f0ef; }

.color4:hover:before {
  background-color: #a8f0ee; }

.color4.selected:before {
  background-color: #37a4a2; }

.color4.selected label:after {
  background-color: #1b9895; }

.color4.selected
.drag-grip {
  background-color: #1fadaa;
  border-bottom: 1px solid #d4f7f6; }
  .color4.selected
.drag-grip:before, .color4.selected
.drag-grip:after {
    background-color: #1fadaa;
    border-bottom: 1px solid #d4f7f6; }

.color4.results:before {
  background-color: #38dcd8; }

.color4 .result-bar {
  background-color: #1fadaa; }

.color4 label:before, .color4 label:after {
  background-color: #fff;
  color: #22c3bf; }

.color4 label:hover:after {
  background-color: #52e0dd; }

.color4
.drag-grip {
  border-bottom: 1px solid #e9fbfb;
  background-color: #22c3bf; }
  .color4
.drag-grip:before, .color4
.drag-grip:after {
    border-bottom: 1px solid #e9fbfb;
    background-color: #22c3bf; }

.color4 .add-toggle:before, .color4 .add-toggle:after {
  background-color: #1b9895; }

/*$s: $s+"%";
    $l: $l+"%";*/
.color5.text-input, .color5.text-area {
  background-color: #b2e699; }
  .color5.text-input.choice textarea, .color5.text-area.choice textarea {
    background-color: white; }

.color5:before, .color5 .result-bar {
  background-color: #d1f0c2; }

.color5:hover:before {
  background-color: #bff0a8; }

.color5.selected:before {
  background-color: #5aa437; }

.color5.selected label:after {
  background-color: #43981b; }

.color5.selected
.drag-grip {
  background-color: #4dad1f;
  border-bottom: 1px solid #dff7d4; }
  .color5.selected
.drag-grip:before, .color5.selected
.drag-grip:after {
    background-color: #4dad1f;
    border-bottom: 1px solid #dff7d4; }

.color5.results:before {
  background-color: #6ddc38; }

.color5 .result-bar {
  background-color: #4dad1f; }

.color5 label:before, .color5 label:after {
  background-color: #fff;
  color: #56c322; }

.color5 label:hover:after {
  background-color: #80e052; }

.color5
.drag-grip {
  border-bottom: 1px solid #effbe9;
  background-color: #56c322; }
  .color5
.drag-grip:before, .color5
.drag-grip:after {
    border-bottom: 1px solid #effbe9;
    background-color: #56c322; }

.color5 .add-toggle:before, .color5 .add-toggle:after {
  background-color: #43981b; }

/*$s: $s+"%";
    $l: $l+"%";*/
.color6.text-input, .color6.text-area {
  background-color: #99c8e6; }
  .color6.text-input.choice textarea, .color6.text-area.choice textarea {
    background-color: white; }

.color6:before, .color6 .result-bar {
  background-color: #c2def0; }

.color6:hover:before {
  background-color: #a8d5f0; }

.color6.selected:before {
  background-color: #377ba4; }

.color6.selected label:after {
  background-color: #1b6898; }

.color6.selected
.drag-grip {
  background-color: #1f77ad;
  border-bottom: 1px solid #d4eaf7; }
  .color6.selected
.drag-grip:before, .color6.selected
.drag-grip:after {
    background-color: #1f77ad;
    border-bottom: 1px solid #d4eaf7; }

.color6.results:before {
  background-color: #389ddc; }

.color6 .result-bar {
  background-color: #1f77ad; }

.color6 label:before, .color6 label:after {
  background-color: #fff;
  color: #2286c3; }

.color6 label:hover:after {
  background-color: #52aae0; }

.color6
.drag-grip {
  border-bottom: 1px solid #e9f4fb;
  background-color: #2286c3; }
  .color6
.drag-grip:before, .color6
.drag-grip:after {
    border-bottom: 1px solid #e9f4fb;
    background-color: #2286c3; }

.color6 .add-toggle:before, .color6 .add-toggle:after {
  background-color: #1b6898; }

/*$s: $s+"%";
    $l: $l+"%";*/
.color7.text-input, .color7.text-area {
  background-color: #99e69f; }
  .color7.text-input.choice textarea, .color7.text-area.choice textarea {
    background-color: white; }

.color7:before, .color7 .result-bar {
  background-color: #c2f0c6; }

.color7:hover:before {
  background-color: #a8f0ae; }

.color7.selected:before {
  background-color: #37a440; }

.color7.selected label:after {
  background-color: #1b9825; }

.color7.selected
.drag-grip {
  background-color: #1fad2b;
  border-bottom: 1px solid #d4f7d7; }
  .color7.selected
.drag-grip:before, .color7.selected
.drag-grip:after {
    background-color: #1fad2b;
    border-bottom: 1px solid #d4f7d7; }

.color7.results:before {
  background-color: #38dc45; }

.color7 .result-bar {
  background-color: #1fad2b; }

.color7 label:before, .color7 label:after {
  background-color: #fff;
  color: #22c330; }

.color7 label:hover:after {
  background-color: #52e05e; }

.color7
.drag-grip {
  border-bottom: 1px solid #e9fbeb;
  background-color: #22c330; }
  .color7
.drag-grip:before, .color7
.drag-grip:after {
    border-bottom: 1px solid #e9fbeb;
    background-color: #22c330; }

.color7 .add-toggle:before, .color7 .add-toggle:after {
  background-color: #1b9825; }

/*$s: $s+"%";
    $l: $l+"%";*/
.color8.text-input, .color8.text-area {
  background-color: #99a9e6; }
  .color8.text-input.choice textarea, .color8.text-area.choice textarea {
    background-color: white; }

.color8:before, .color8 .result-bar {
  background-color: #c2ccf0; }

.color8:hover:before {
  background-color: #a8b8f0; }

.color8.selected:before {
  background-color: #374ea4; }

.color8.selected label:after {
  background-color: #1b3698; }

.color8.selected
.drag-grip {
  background-color: #1f3dad;
  border-bottom: 1px solid #d4dbf7; }
  .color8.selected
.drag-grip:before, .color8.selected
.drag-grip:after {
    background-color: #1f3dad;
    border-bottom: 1px solid #d4dbf7; }

.color8.results:before {
  background-color: #385bdc; }

.color8 .result-bar {
  background-color: #1f3dad; }

.color8 label:before, .color8 label:after {
  background-color: #fff;
  color: #2245c3; }

.color8 label:hover:after {
  background-color: #5270e0; }

.color8
.drag-grip {
  border-bottom: 1px solid #e9edfb;
  background-color: #2245c3; }
  .color8
.drag-grip:before, .color8
.drag-grip:after {
    border-bottom: 1px solid #e9edfb;
    background-color: #2245c3; }

.color8 .add-toggle:before, .color8 .add-toggle:after {
  background-color: #1b3698; }

/*$s: $s+"%";
    $l: $l+"%";*/
.color9.text-input, .color9.text-area {
  background-color: #99e6be; }
  .color9.text-input.choice textarea, .color9.text-area.choice textarea {
    background-color: white; }

.color9:before, .color9 .result-bar {
  background-color: #c2f0d8; }

.color9:hover:before {
  background-color: #a8f0cb; }

.color9.selected:before {
  background-color: #37a46c; }

.color9.selected label:after {
  background-color: #1b9858; }

.color9.selected
.drag-grip {
  background-color: #1fad64;
  border-bottom: 1px solid #d4f7e5; }
  .color9.selected
.drag-grip:before, .color9.selected
.drag-grip:after {
    background-color: #1fad64;
    border-bottom: 1px solid #d4f7e5; }

.color9.results:before {
  background-color: #38dc88; }

.color9 .result-bar {
  background-color: #1fad64; }

.color9 label:before, .color9 label:after {
  background-color: #fff;
  color: #22c371; }

.color9 label:hover:after {
  background-color: #52e097; }

.color9
.drag-grip {
  border-bottom: 1px solid #e9fbf2;
  background-color: #22c371; }
  .color9
.drag-grip:before, .color9
.drag-grip:after {
    border-bottom: 1px solid #e9fbf2;
    background-color: #22c371; }

.color9 .add-toggle:before, .color9 .add-toggle:after {
  background-color: #1b9858; }

/*$s: $s+"%";
    $l: $l+"%";*/
.color10.text-input, .color10.text-area {
  background-color: #a899e6; }
  .color10.text-input.choice textarea, .color10.text-area.choice textarea {
    background-color: white; }

.color10:before, .color10 .result-bar {
  background-color: #cbc2f0; }

.color10:hover:before {
  background-color: #b6a8f0; }

.color10.selected:before {
  background-color: #4c37a4; }

.color10.selected label:after {
  background-color: #331b98; }

.color10.selected
.drag-grip {
  background-color: #3a1fad;
  border-bottom: 1px solid #dad4f7; }
  .color10.selected
.drag-grip:before, .color10.selected
.drag-grip:after {
    background-color: #3a1fad;
    border-bottom: 1px solid #dad4f7; }

.color10.results:before {
  background-color: #5738dc; }

.color10 .result-bar {
  background-color: #3a1fad; }

.color10 label:before, .color10 label:after {
  background-color: #fff;
  color: #4122c3; }

.color10 label:hover:after {
  background-color: #6d52e0; }

.color10
.drag-grip {
  border-bottom: 1px solid #ede9fb;
  background-color: #4122c3; }
  .color10
.drag-grip:before, .color10
.drag-grip:after {
    border-bottom: 1px solid #ede9fb;
    background-color: #4122c3; }

.color10 .add-toggle:before, .color10 .add-toggle:after {
  background-color: #331b98; }

/*$s: $s+"%";
    $l: $l+"%";*/
.color11.text-input, .color11.text-area {
  background-color: #99e6dd; }
  .color11.text-input.choice textarea, .color11.text-area.choice textarea {
    background-color: white; }

.color11:before, .color11 .result-bar {
  background-color: #c2f0eb; }

.color11:hover:before {
  background-color: #a8f0e8; }

.color11.selected:before {
  background-color: #37a499; }

.color11.selected label:after {
  background-color: #1b988b; }

.color11.selected
.drag-grip {
  background-color: #1fad9e;
  border-bottom: 1px solid #d4f7f4; }
  .color11.selected
.drag-grip:before, .color11.selected
.drag-grip:after {
    background-color: #1fad9e;
    border-bottom: 1px solid #d4f7f4; }

.color11.results:before {
  background-color: #38dcca; }

.color11 .result-bar {
  background-color: #1fad9e; }

.color11 label:before, .color11 label:after {
  background-color: #fff;
  color: #22c3b2; }

.color11 label:hover:after {
  background-color: #52e0d1; }

.color11
.drag-grip {
  border-bottom: 1px solid #e9fbf9;
  background-color: #22c3b2; }
  .color11
.drag-grip:before, .color11
.drag-grip:after {
    border-bottom: 1px solid #e9fbf9;
    background-color: #22c3b2; }

.color11 .add-toggle:before, .color11 .add-toggle:after {
  background-color: #1b988b; }

/*$s: $s+"%";
    $l: $l+"%";*/
.color12.text-input, .color12.text-area {
  background-color: #c799e6; }
  .color12.text-input.choice textarea, .color12.text-area.choice textarea {
    background-color: white; }

.color12:before, .color12 .result-bar {
  background-color: #ddc2f0; }

.color12:hover:before {
  background-color: #d3a8f0; }

.color12.selected:before {
  background-color: #7837a4; }

.color12.selected label:after {
  background-color: #651b98; }

.color12.selected
.drag-grip {
  background-color: #741fad;
  border-bottom: 1px solid #e9d4f7; }
  .color12.selected
.drag-grip:before, .color12.selected
.drag-grip:after {
    background-color: #741fad;
    border-bottom: 1px solid #e9d4f7; }

.color12.results:before {
  background-color: #9a38dc; }

.color12 .result-bar {
  background-color: #741fad; }

.color12 label:before, .color12 label:after {
  background-color: #fff;
  color: #8222c3; }

.color12 label:hover:after {
  background-color: #a752e0; }

.color12
.drag-grip {
  border-bottom: 1px solid #f4e9fb;
  background-color: #8222c3; }
  .color12
.drag-grip:before, .color12
.drag-grip:after {
    border-bottom: 1px solid #f4e9fb;
    background-color: #8222c3; }

.color12 .add-toggle:before, .color12 .add-toggle:after {
  background-color: #651b98; }

.grey.text-input, .grey.text-area {
  background-color: #bfbfbf; }
  .grey.text-input.choice textarea, .grey.text-area.choice textarea {
    background-color: white; }

.grey:before, .grey .result-bar {
  background-color: #d9d9d9; }

.grey:hover:before {
  background-color: #cccccc; }

.grey.selected:before {
  background-color: #6e6e6e; }

.grey.selected label:after {
  background-color: #595959; }

.grey.selected
.drag-grip {
  background-color: #666666;
  border-bottom: 1px solid #e6e6e6; }
  .grey.selected
.drag-grip:before, .grey.selected
.drag-grip:after {
    background-color: #666666;
    border-bottom: 1px solid #e6e6e6; }

.grey.results:before {
  background-color: #8a8a8a; }

.grey .result-bar {
  background-color: #666666; }

.grey label:before, .grey label:after {
  background-color: #fff;
  color: #737373; }

.grey label:hover:after {
  background-color: #999999; }

.grey
.drag-grip {
  border-bottom: 1px solid #f2f2f2;
  background-color: #737373; }
  .grey
.drag-grip:before, .grey
.drag-grip:after {
    border-bottom: 1px solid #f2f2f2;
    background-color: #737373; }

.grey .add-toggle:before, .grey .add-toggle:after {
  background-color: #595959; }

/*$color1: hsl(300, 40%, 40%);
$color2: hsl(340, 60%, 40%);
$color3: hsl(20, 80%, 40%);
$color4: hsl(30, 80%, 40%);

$color5: hsl(240, 50%, 40%);
$color6: hsl(210, 50%, 40%);
$color7: hsl(190, 60%, 40%);
$color8: hsl(170, 60%, 40%);*/
/*$color5: hsl(220, 40%, 40%);*/
/*
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

header#primary-header {
  padding: 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  color: #fff;
  z-index: 5;
  background: #2f3440;
  background: -moz-linear-gradient(top,  #3f5666 0%, #2f3440 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f5666), color-stop(100%,#2f3440));
  background: -webkit-linear-gradient(top,  #3f5666 0%,#2f3440 100%);
  background: -o-linear-gradient(top,  #3f5666 0%,#2f3440 100%);
  background: -ms-linear-gradient(top,  #3f5666 0%,#2f3440 100%);
  background: linear-gradient(to bottom,  #3f5666 0%,#2f3440 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f5666', endColorstr='#2f3440',GradientType=0 );
  #logo-icon {
    display: inline;
  }
  a {
    color: #fff;
  }
}

.container {
  margin: 3rem 1rem 1rem 1rem;  
}

.button {
  display: block;
  padding: 0.5rem 2.3rem;
  background-color: #ccc;
  font-weight: 600;
  border: none;
  border-radius: 0.2rem;
  &:hover {
    background-color: #bbb;
  }
}*/
